{% load i18n %}{% load static %}
{% block content %}
<div class="container">
    <div class="row" id="viz-div">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Up" %}</h3>

            <p class="check-auth">{% blocktrans %}Welcome to the holy wells site. Do you
                already have an account? Then please <button type="button" class="nav-menu nav-link active"
                    data-bs-toggle="modal" data-bs-target="#signin" onclick="shDiv()">Login</button> instead.
                {%endblocktrans %}</p>
            {% include 'account/signup.html' %}
        </div>
    </div>

    <div class="modal fade" id="signin" tabindex="-1" aria-labelledby="signoutLabel" aria-hidden="true">

        <script>
            function shDiv() {
                var x = document.getElementById("viz-div");
                x.style.display = "none";
            }
        </script>

    </div>
</div>
{% endblock %}