{% load i18n %}{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Up" %}</h3>

            <p class="check-auth">{% blocktrans %}Welcome to the holy wells site. Do you
                already have an account? Then please <button type="button" class="nav-menu nav-link active"
                    data-bs-toggle="modal" data-bs-target="#signin">Login</button> instead.{% endblocktrans %}</p>
            {% include 'account/signup.html' %}
        </div>
    </div>
</div>
{% endblock %}