{% load i18n %}{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Login" %}</h3>

            <p class="check-auth">{% blocktrans %}Welcome back to the holy wells
                site. To leave a comment or like a post, please log in. If you
                have not created an account yet, then <button type="button" class="nav-menu nav-link active"
                    data-bs-dismiss="modal">Register</button> first.
                {% endblocktrans %}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="/accounts/login/">
                {% csrf_token %}
                <p><label for="id_login">Username:</label> <input type="text" name="login" placeholder="Username"
                        autocomplete="username" maxlength="150" required="" id="id_login"></p>
                <p><label for="id_password">Password:</label> <input type="password" name="password"
                        placeholder="Password" autocomplete="current-password" required="" id="id_password"></p>
                <p><label for="id_remember">Remember Me:</label> <input type="checkbox" name="remember"
                        id="id_remember">
                </p>
                <button class="btn btn-signup right" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}