{% load i18n %}{% load static %}
{% block content %}

<div class="container">
    <div class="row" id="viz-div">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Register" %}</h3>

            <p class="check-auth">{% blocktrans %}Welcome to the holy wells site. If you
                already have an account then please <button type="button" class="nav-menu nav-link active"
                    data-bs-dismiss="modal">Login</button> instead.
                {%endblocktrans %}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="signup" id="signup_form" method="post" action="/accounts/signup/">
                {% csrf_token %}
                <p><label for="id_username">Username:</label> <input type="text" name="username" placeholder="Username"
                        autocomplete="username" minlength="1" maxlength="150" required="" id="id_username"></p>
                <p><label for="id_password1">Password:</label> <input type="password" name="password1"
                        placeholder="Password" required="" id="id_password1" autocomplete="off">
                </p>
                <p><label for="id_password2">Repeat Password:</label> <input type="password" name="password2"
                        placeholder="Password (again)" required="" id="id_password2" autocomplete="off"></p>

                <button class="btn btn-signup right" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}