.mapboxgl-popup-content {
    background-color: #52bd52;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: #52bd52;
}

.popup-content hr {
    color: #52bd52;
    margin-top: 5px;
    margin-bottom: 5px;
}

.popup-content h5 {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.popup-content img {
    width: 20px;
}

.button-box {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box button:hover {
    background-color: white;
}

.button-box button {
    border: none;
    background-color: orange;
    text-transform: lowercase;
}

.button-box a {
    text-decoration: none;
    color: #0006ff;
}

.button-box a:hover {
    text-decoration: none;
    color: rgb(168, 109, 0);
}