.box {
    background-position: center;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/dpii8ntba/image/upload/o_10/v1692201332/wells/pxfuel_2_p4j69n.jpg");
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.card {
    border: none;
    background-color: transparent;
}

.card-body {
    padding: 0;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.logo-img {
    filter: brightness(0) invert(1);
}

.navbar-light .navbar-toggler {
    filter: brightness(0) invert(1);
    border-color: #fff;
}

.navbar {
    background-color: #445261;
}

.nav-back {
    background-color: #445261;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}

.nav-text {
    color: #bbb;
}

.navbar-light .navbar-nav .nav-link.active>li>a:hover {
    color: rgb(149, 227, 209);
}

/*
.navbar-light .navbar-nav .nav-link.active:active {
    color: rgb(190, 193, 168);
}*/

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #445261;
    color: #fff;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #445261;
}

.btn-close {
    display: none;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.nav-menu {
    border: none;
    background-color: inherit;
}

/* Mobile device styling */
@media only screen and (max-width: 425px) {
    .masthead {
        height: 20vh;
    }
}

@media only screen and (orientation: landscape) and (max-width: 600px) {
    .masthead {
        height: 100vh;
    }

    .navbar {
        padding-top: 0%;
        padding-bottom: 0%;
    }
}

/* modal customization */

.modal-content {
    padding: 25px;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: start;
    flex-direction: row-reverse;
}

.modal-header button {
    border: none;
}


.check-auth button {
    display: inline-block;
    padding: 0%;
}