{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 my-auto form-container text-center rounded mx-auto my-2 py-2">
            <h1>Error 404: Not Found</h1>
            <h2>The well you are looking for isn't here!</h2>
            <div>
                <img src="{% static 'img/cracked-earth.jpg' %}">
            </div>
            <div>
                <a href="{% url 'home' %}" class="btn btn-warning">
                    Please click here to return to the home page.
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}