{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 my-auto form-container text-center rounded mx-auto my-2 py-2">
            <h1>Error 403: Forbidden</h1>
            <h2>Unfortunately you have reached an inaccessible area!</h2>
            <div>
                <img src="/static/img/error.png">
            </div>
            <div>
                <a href="{% url 'home' %}" class="btn warning">
                    Please click here to retrun to the home page.
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}