{% extends "base.html" %}{% block content %}{% load static %}

    <!-- Mapbox scripts and stylesheets -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet'>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>

<link rel="stylesheet" href="/static/css/mapbox.css">

<div class="map-content" id='map' data-wells="{{ wells }}"></div>

<script src="{% static 'js/mapper.js' %}" crossorigin="anonymous"></script>

{% endblock content %}